# Jupyter Notebook files
.ipynb_checkpoints
# Python files
__pycache__/
# tmp files
1.idr_streams/tmp
# extracted features
1.idr_streams/extracted_features
# aspera key
1.idr_streams/stream_files/asperaweb_id_dsa.openssh
# normalized features
3.normalize_data/normalized_data
